body{
    margin:0px;
    font-family: "HelveticaNeue",'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #fffbfba6;
}
#contenitore{
    max-width: 1300px;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    
}




 .services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
 }
.content{
    text-align: center;
}

.content h3{
  
    background: -webkit-linear-gradient(195deg, #1171fd, rgb(153, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 2em;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    
}


.card div{
    margin:10px
}

.card {
    background: #191c29;
    width: calc(70px * 3);
    height: 70px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    
    display: flex;
    padding:20px;
    align-items: center;
    color: rgb(253, 253, 253);
    font-weight: bold;
    cursor: pointer;
    
    margin:20px
  }

   .card p{
    color:#98a0a7;
    display: none;
   }


  .card::before {
    content: "";
    width: 102%;
    height: 104%;
    background-size: 400% 400%;
    border-radius: 8px;
    background-image: linear-gradient(130deg,#0061ff,#e81cff);
      position: absolute;
      z-index: -1;
      top: -2%;
      left: -1%;
      animation: gradient 3s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var( 70px) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-size: 400% 400%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var( 70px) / 6));
    background-image: linear-gradient(130deg,#0061ff,#e81cff);
      opacity: 1;
    transition: opacity .10s;
    animation: gradient 6s linear infinite;
  }
  /*https://codepen.io/gayane-gasparyan/pen/jOmaBQK*/


@media (hover:hover) and (min-width:650px){
    .card:hover {
        color:white;
        height: fit-content;
        
        background: -webkit-linear-gradient(195deg, #1171fd, rgb(153, 0, 255));
         -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5em;
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
        display: flex;
        flex-direction: column;
       
        
        transition: all 1s;
       
      }
     
      .card:hover:before, .card:hover:after {
        animation: none;
        transition: all 0.3s;
        
        opacity: 0;
      }

}
@media (max-width:650px){
   
    
    
    #cont{
        position: relative;
        top:7em;
        width: 100%;
    }

    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        
        width: calc(130px * 3);
        height: 130px;}

   
  


   
       

    
    
       

    



}