
body{
    margin:0px;
    font-family: "HelveticaNeue",'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #fffbfba6;
}
#contenitore{
    max-width: 1300px;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    
}
#logo{
    width: 15%;


}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
   
    padding:10px
}

#cub{
    background-image: linear-gradient(90deg, #1171fd, rgb(153, 0, 255)) ;
    height: 300px;
    clip-path: polygon(0% 0%,/*alto sx*/
    100% 0%, /* alto dx*/
    100% 40%,
    0% 100%, /* basso sx*/
    0% 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

#cont{
    justify-content: center;
    position: relative;
    top:-20em;
    height: max-content;
    
}
#social{
    display: flex;
    flex-direction: row;
    transform: rotate(5deg);
    position: relative;
    top:120px;
    justify-content: center;
    z-index: 2;
    

}
#social img{
    width: 10%;
    margin-left:130px ;
    margin-right:130px ;

}
#img_personale{
    text-align: center;
    position: relative;
    
    
}
#img_personale img{
    width: 30%;
    border-radius: 50px;
    border:10px solid white
}
.first{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separatore{
    width: 7%;
    margin: 20px auto 20px auto ;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(90deg, #1171fd, rgb(153, 0, 255)) 1;
    border-radius: 40px; 
    -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
    
 
    
    

    
    
}

.separatore_sx{
    width: 4%;
    margin: 20px 0px;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(90deg, #1171fd, rgb(153, 0, 255)) 1;
    border-radius: 40px; 
    -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;


}

.cont_img_first{
    padding:30px
}

.text{
    padding:20px;
    color:#98a0a7
}

.text h3{
  
    background: -webkit-linear-gradient(195deg, #1171fd, rgb(153, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 4em;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    
}

.con_text{
    font-size: 1.5em;
    padding:0px 1.5em


}
.buttons{
    margin:4em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.buttons a{

    padding:20px 15px;
    margin:20px;
    
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    

}


.contattaci{
    color: white;
    background-image:  linear-gradient(90deg, #1171fd, rgb(153, 0, 255));
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}
.more{    
    background: -webkit-linear-gradient(195deg, #1171fd, rgb(153, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    border:2px solid rgb(153, 0, 255);
    
    

}

.section{
    align-items: center;
}
.collg_service{
    color: black;
    text-decoration: none;

}

#services{
    display: flex;
    flex-direction: row;
}
.service{
    background-image: linear-gradient(130deg,#0061ff,#e81cff) ;
    padding:30px;
    margin:20px;
    width: 25%;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    justify-content: space-between;
    
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
   

}




.service h4{
    color:#fdfdfd
}

.service p{
    color: white;

}

.read_more{
    color:#ffffff;
    font-weight: bold;

}

footer{
   
    background-image: linear-gradient(134deg, #595cff, #e81cff) ;
    width: auto;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    padding: 20PX;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
   
    
}

footer p{
    font-size: 2em;
    color: white;
    font-weight: bold;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media (max-width:950px){
    #contenitore{
        max-width: 1000px;
        min-width: 300px;
        margin-right: auto;
        margin-left: auto;
        
    }


    
    #cub{
        background-color: #1171fd;
        height: 400px;
        clip-path: polygon(0% 0%,/*alto sx*/
        100% 0%, /* alto dx*/
        100% 50%,
        0% 100%, /* basso sx*/
        0% 100%);
    
    }

    #cont{
        top:-25em;
        width: 100%;
    }
    


    #social img{
        width: 100px;
        margin-left:5rem;
        margin-right: 5em;
    

    }
  

    #img_personale{
       
        position: relative;
       
    }


    #img_personale img{
        width: 40vw;
        border-radius: 50%;
    }
    .buttons{
        margin:2em 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .text_cont_text{
        font-size: 1.6em;
    }

    .section{
        padding:20px
    }

    

    .text h3{
      
        font-size: 3em;
    }

    .img_cont img, .cont_img_first img{
        width: 100%;
    }

    #services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .service{
        margin:10px auto;
        width: 80%;
    }



    
    
    
   


}

@media (max-width:650px){
    footer, .service, .contattaci, #cub{
        animation: gradient 8s ease infinite;


    }
    header{
        align-items: center;
    }

    #logo{
        width: 150px;
        height: 40px;
        
    
    
    }

    #img_personale img{
        width: 50%;
        border-radius: 50%;
    }

    #cont{
        top:-20em;
    }
    #social{
       
        position: relative;
        top:60px
        
        
        
    
    }
    #social img{
        width: 70px;
        margin-left:4rem;
        margin-right: 4rem;
    
    }

    .section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



}